@import url('/asset/style/index.mobile.less');
@import url('/asset/style/index.desktop.less');

* {
  -o-transition: all .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: all .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body {
  background-color: #a6babd;
  background-image: url('https://bing.img.run/1366x768.php');
  background-repeat: no-repeat;
  background-size: cover;
  //background-position: center;

  margin: 0;
}

[component="main@header"], [component="main@footer"] {
  background-color: #3B3B3BAB;
}

[component="main@header"] {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  [component="main@header-options"] {
    position: fixed;
    height: 52px;

    *[list-item] {
      position: relative;
      width: 38px;
      height: 38px;
      margin: 8px;

      color: white;
      font-size: 1.5em;

      border: none;
      border-radius: 100%;

      background-color: transparent;
      transition: background-color .2s cubic-bezier(.5, 0, .74, .74);

      &:hover {
        background-color: #8b9ea849;
      }

      ;
    }
  }

  a[component="main@header-home"] {
    position: absolute;
    font-size: 2em;
    line-height: 52px;

    &::after {
      content: "UwU";
      font-size: small;
    }
  }

  ;
}

;

[component="main@content"] {
  position: relative;
  min-height: 20em;
}

[component="main@footer"] {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;

  #footer-powered, #footer-opensource {
    position: relative;
    width: 100%;
    height: 1.5em;

    color: white;
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
  }
}

// Html element style.

a {
  color: white;
  padding-left: 4px;
  padding-right: 4px;

  font-weight: bold;
  text-decoration: none;
}